html {
    font-size: 10px;
}
body {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.nav {
    float: left;
    margin: 0 15px;
}

.nav-item a{
    font-size: 2rem;
    line-height: 30px;
    color: #333333;
    text-decoration: none;
}

.banner {
    display: flex;
}

.banner-info {
    justify-content: space-between;
}