.shapka {
    text-transform:capitalize;
    text-align: center;
}

.stand-ukraine {
    color: #33ADF1;
}

.kharkiv {
    background-image: url("./Успенський_собор.jpg");
    background-size: 100%;
    color: white;
    padding: 190px;
    font-size: 35px;
}

.pidkresleni {
   font-size: 35px;
}

.liniya {
    color: #33ADF1;
    background-color: #33ADF1;
    font-size: 5px;
    width: 240px;
}

.cartochki {
    border: 1px solid;
    width: 400px;
    border-radius: 10px;
    box-shadow: 8px 9px 21px black;
}

.nazvanie {
    line-height: 1px;
}

.sertse {
    text-align: center;
}

.knopka {
    border: 1px #33ADF1;
    background-color: #33ADF1;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    width: 400px;
}

.niz {
    background-color: #00008B;
    text-align: center;
}

.v-centre {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}