:root {
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.flex {
    display: flex;
    background: #202846;
    padding: 10px 0;
}

.logo-header {
    width: 16.5%;
    display: flex;
    justify-content: end;
}

.logo-header-img {
    width: 178px;
    height: 70px;
}

ul {
    margin: 0;
}

.menu {
    width: 55.5%;
    padding-left: 0;
    margin-left: 15.2%;
    color: white;
    font-size: 24px;
    line-height: 31.06px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.menu > li {
    text-align: center;
    display: flex;
    width: 170px;
    justify-content: center;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
}

.image-header-block {
    display: flex;
    width: 12.8%;
    align-items: center;
    justify-content: center;
}

.image-header-text {
    margin: 0;
    font-size: 28px;
    color: #ffffff;
    padding-left: 17px;
}

.top-block-header {
    background-color: #C6C6DC;
    font-size: 48px;
    color: #202846;
    padding-top: 43px;
    padding-bottom: 43px;
}

.top-block-header-text {
    margin-left: 11.82%;
}

main {
    background-color: #DCDCDC;
}

.container {
    width: 77.55%;
    margin: 0 auto;
}

.navigation-title {
    background-color: rgba(232, 232, 232, 1);
    margin-top: 56px;
    margin-bottom: 56px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    position: relative;
}

.navigation-title-text {
    font-size: 28px;
    line-height: 36.23px;
}

.navigation-title-image {
    width: 32px;
    height: 29px;
    position: absolute;
    right: 14px;
}

.cards {
    padding-bottom: 141px;
}

.card {
    position: relative;
    display: flex;
    background-color: #BDBDC6;
    padding: 28px 87px 28px 103px;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 36px;
}

.card-text-in-box-options {
    display: inline-flex;
    margin: 8px 0px 0px 102px;
    background-color: #D7D7DD;
    font-size: 22px;
    text-align: center;
    font-weight: 400;
    line-height: 28.47px;
    padding: 35px 45px;
}

.card-text-above-line-options {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 100px;
    font-size: 36px;
    color: #353C57;
    font-weight: 700;
    border: none;
    border-bottom: 3px solid white;
}

.card-more {
    position: absolute;
    right: -50px;
    bottom: 7px;
    background-color: #202846;
    color: white;
    font-size: 24px;
    padding: 15px 39px;
    border-radius: 30px;
}

.card-star {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
}

.card:hover {
    background-color: #AEAEE2;
    box-shadow: 0px 2px 20px 6px #AEAEE2;
}

.card:hover .card-more {
    background: #EF075B;
}

.card:hover .card-star-path {
    fill: #FFFF00;
}

.button {
    width: 101px;
    height: 101px;
    border-radius: 50%;
    position: relative;
    display: flex;
    background-color: #9597af;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-up-arrow {
    position: fixed;
    bottom: 10%;
    left: 78%;
}